* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

body{
    background: #F6F6F6;
}


.img {
    width: 100%;
}
#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
  
}

#navbar,
#sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   
    
}

#navbar li a,
#sign li a{
    text-decoration: none;
    padding: 0 20px;
    color: #4F5665;
    
    
    
}

#sign #sign-in {
    color:rgb(12, 11, 11);
    font-weight: 900;

}

#sign #sign-up {
    color: #F53838;
    font-weight: 600;
    border: 1px solid #F53838;
    padding: 12px 40px;
    border-radius: 30px;
    text-align: center;
    margin-left: 20px;
}

#hero {
   margin: 120px 100px;
}
#hero h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    
    
}

#hero h2 span {
    font-weight: 900;
    color: black;
    font-weight: 900;
    
}

#hero .para {
    padding: 20px 0;
}

#hero p {
    color: #616368;
    line-height: 30px;
    
}

#hero button {
    padding: 20px 80px;
    margin-top: 30px;
    border: none;
    background-color: #F53838;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    border-radius: 10px;
  
}

#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}

#about .about-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

#about i {
    color: #F53838;
    background-color: #FFECEC;
    padding: 20px;
    border: none;
    border-radius: 40px;
}

#features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0px;
}

.feature-details h4 {
    font-size: 35px;
    line-height: 50px;
    
}

.feature-details-paragraph1 {
    padding-top:20px;
}

.feature-details-paragraph2 {
    padding-bottom: 15px;
}

.feature-details p {
    line-height: 30px;
    color: #616368;
    
    
}
.feature-list i{
    background-color: green;
    color: #fff;
    padding:3px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    
}

.feature-list p{
    line-height: 50px;
    font-size: 14px;
}

#plan {
    background: #F6F6F6;
    
}

.choose-plan {
    text-align: center;
    margin-bottom: 80px;
   
}

.choose-plan h2{
    padding: 100px 0 30px 0;
   
}

.choose-plan p{
    line-height: 30px;
    color: #4F5665;
    
    
   
}

#pricing {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 100px;
    
    
}

#pricing .free-plan {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    padding: 90px 60px;
    width: 100;
    height: 80vh;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(112, 112, 112, 0.9)
    

}
#pricing .free-plan h4 {
    padding: 30px;
    font-size: 20px;
    font-weight: 800;
}

.pricing-list p{
    line-height: 32px;
    font-size: 16px;
    color: #4F5665;
    font-family: Rubik;
    
}
.pricing-list p i{
    color: #2FAB73;
    padding: 12px;

}

.free-plan h3{
    margin-top: 90px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

.free-plan span {
    color: grey;
    font-weight: 500;
    margin-left: 7px;
}
.free-plan button {
    color: #F53838;
    font-weight: 900;
    border: 3px solid #F53838;
    padding: 12px 60px;
    border-radius: 30px;
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    
}

.free-plan .btn {
    background-color: #F53838;
    color: #fff;
}

#vpn {
    background: #F6F6F6;
    padding-top: 120px;
    text-align: center;
}

#vpn h1 {
    font-size: 30px;
    font-weight: bolder;
    color:#0B132A;
    line-height: 46px;


}

#vpn p {
    color:#4F5665;
    line-height: 30px;

}

#vpn img {
   width: 100%;
   padding-top: 150px;
}

#sponsors {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F6F6F6;
}

#feedback {
    background: #F6F6F6;
    position: relative;
    padding-bottom: 100px;
    
}
 
.feedback-detail  {
    padding-top: 120px;
    text-align: center;
    
    
}

.feedback-detail  h2 {
    font-size: 30px;
    font-weight: bolder;
    color:#0B132A;
    line-height: 46px;


}

.feedback-detail p {
    color:#4F5665;
    line-height: 30px;

}#feedback .box {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    padding: 60px;

    

}

.box .cards {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 1.5rem 3rem 2rem 1.5rem;
}
.box .card1 {
    border: 2px solid #F53838;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.flex .customer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.flex .customer-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.flex .customer-rating .fa-star {
    font-size: 12px;
    color: #FEA250;
}
.para {
    margin-top: 20px;
    line-height: 25px;
}

.customer-loc h6 {
    font-size: 18px;
}

.customer-loc p {
    font-size: 14px;
}

.next-page {
    padding: 20px 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-button{
    display: flex;

}

.page-button .dot {
    width: 40px;
    height: 16px;
    border-radius: 10px;
    padding: 7px;
    background: #F53838;
    margin-right: 10px;
}

.page-button .dot1 {
    border-radius: 20px;
    padding: 7px;
    margin-right: 10px;
    background: #DDE0E4;
    height: 18px;
    
}

.next-page .fa-arrow-left {
    border: 2px solid #F53838 ;
    padding: 20px;
    border-radius: 40px;
    margin: 20px;
    color: #F53838;

}

.next-page .fa-arrow-right {
    background: #F53838 ;
    padding: 20px;
    border-radius: 40px;
    color: #fff;

}

#subscription{
    width: 80vw;
    background: #fff;
    padding:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 4610px;
    left: 140px;
    
   
}

#subscription .sub-details h1{
    line-height: 40px;
    font-weight: 500;
    font-size: 30px;
}

#subscription .sub-details p{
 margin-top: 20px;
}

#subscription button {
    padding: 20px 80px;
    margin-top: 30px;
    border: none;
    background-color: #F53838;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    border-radius: 10px;
}

#footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 50px 60px;
    background-color: #e9e9e9;
    
}

#footer ul li {
    list-style: none;
    color: #4F5665;
    
}

#footer #social-media p{
    color: #4F5665;
    font-size: 16px;
    padding: 10px 2px 2px;
}

#social-media .fa-brands {
    color: #F53838;
    background-color: #fff;
    padding: 13px;
    border-radius: 20px;
    margin: 40px 10px 20px 0;
}

#social-media .copyright {
    color: #AFB5C0;
}

#footer .more-activities {
    line-height: 50px;
    padding-top: 90px;
}

#footer #earn{
    margin-top: -200px;
    
}