* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
}

#navbar,
#sign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   
    
}

#navbar li a,
#sign li a{
    text-decoration: none;
    padding: 0 20px;
    color: #4F5665;
    
    
    
}

#sign #sign-in {
    color:rgb(12, 11, 11);
    font-weight: 900;

}

#sign #sign-up {
    color: #F53838;
    font-weight: 600;
    border: 1px solid #F53838;
    padding: 12px 40px;
    border-radius: 30px;
    text-align: center;
    margin-left: 20px;
}

#hero {
   margin: 120px 100px;
}
#hero h2 {
    font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    
    
}

#hero h2 span {
    font-weight: 900;
    color: black;
    font-weight: 900;
    
}

#hero .para {
    padding: 20px 0;
}

#hero p {
    color: #616368;
    line-height: 30px;
    
}

#hero button {
    padding: 20px 80px;
    margin-top: 30px;
    border: none;
    background-color: #F53838;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    border-radius: 10px;
  
}

#about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}

#about .about-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

#about i {
    color: #F53838;
    background-color: #FFECEC;
    padding: 20px;
    border: none;
    border-radius: 40px;
}

#features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 120px 0px;
}

.feature-details h4 {
    font-size: 35px;
    line-height: 50px;
    
}

.feature-details-paragraph1 {
    padding-top:20px;
}

.feature-details-paragraph2 {
    padding-bottom: 15px;
}

.feature-details p {
    line-height: 30px;
    color: #616368;
    
}
.feature-list i{
    background-color: green;
    color: #fff;
    padding:3px;
    border: none;
    border-radius: 20px;
    margin: 5px;
    
}

.feature-list p{
    line-height: 50px;
    font-size: 14px;
}


 